	.nav{
		background-image:url(../images/boy.png);
		width:1100px;
		height:110px;
		margin:0 auto;
	}
		
	.nav-right{
		font-size:10px;
		padding-left:800px;
		margin-top:-70px;
	}
	.list{
		background-color:white;
		height:35px;
		text-align:center;
		margin-top:30px;
		}
 
	.list a{text-decoration:none;
		color:#9b83b4;
		font-size:19px;
		}
  
    .list ul{list-style:none;
		padding:10px;
		display:inline-block;
		}
	.list ul li:hover{
		background-color:yellow;
		}
	.list ul li:hover ul{
		display:block;
		background-color:white;
		}
	.list ul li ul{
		display:none;
		position:absolute;
		width:100px;
		border:3px solid white;
		border:none;
		padding:0;
		}
	.list ul li ul li{
		display:block;
		font-size:10px;
		}
	.nav-bottom {
		background-image:url(../images/zhou.jpg);
		width:1000px;
		height:1300px;
		margin:0 auto;
		margin-top:50px;
	}
	.header{
		background:url(../images/zhou1.jpg);
		width:500px;
		height:900px;
		margin-left:45px;
	}
	
	.header-img{
		background:url(../images/zhou2.jpg);
		width:500px;
		height:900px;
		margin-top:-900px;
		margin-left:545px;
	}
	.header-font{
		color:white;
		border:1px solid black;
		border:none;
		width:320px;
		height:280px;
		font-size:20px;
		font-weight:bold;
		text-indent:2em;
		line-height:40px;
		padding-top:20px;
		margin-top:-1220px;
		margin-left:380px;
		background:rgba(0,0,0,0.2);
	}
	.header-top{
		font-size:20px;
		font-weight:bold;
		color:red;
		margin-left:40px;
	}
	.header-nav{
		border:1px solid black;
		border:none;
		width:320px;
		height:280px;
		font-size:20px;
		font-weight:bold;
		text-indent:2em;
		line-height:40px;
		padding-top:20px;
		margin-top:620px;
		margin-left:120px;
		background:rgba(0,0,0,0.1);
	}
	.header-left{
		font-size:20px;
		font-weight:bold;
		color:red;
	}
	.header-title{
		border:1px solid black;
		border:none;
		width:320px;
		height:280px;
		font-size:20px;
		font-weight:bold;
		text-indent:2em;
		line-height:40px;
		padding-top:20px;
		margin-top:-305px;
		margin-left:635px;
		background:rgba(0,0,0,0.1);
	}
	.header-right{
		font-size:20px;
		font-weight:bold;
		color:red;
		
	}
	.header-bottom img{
		margin-left:45px;
	}
	
	.header-tips{
		border:1px solid black;
		border:none;
		border:none;
		width:800px;
		height:115px;
		font-size:20px;
		font-weight:bold;
		text-indent:2em;
		line-height:40px;
		padding-top:20px;
		margin-top:0px;
		margin-left:150px;
		
	}
	.header-news{
		font-size:20px;
		font-weight:bold;
		margin-left:360px;
	}
	.header-loginbar{
		font-size:20px;
		font-weight:bold;
		color:red;
		margin-left:70px;
	}
	
	.copyright{
		border:1px solid gray;
		width:800px;
		height:270px;
		background:white;
		margin-left:130px;
		margin-top:45px;
	}
	
	.friendlink{
		text-align:center;
	}
	.container{
		border:1px dotted #9b83b4;
		width:250px;
		height:180px;
		margin-left:10px;
		margin-top:20px;
		}
	
	.container-font{
		color:gray;
		font-size:15px;
		text-align:center;
		margin-top:50px;
	}
	.hot{
		border:1px dotted #9b83b4;
		width:250px;
		height:180px;
		margin-left:270px;
		margin-top:-180px;
		}
	
	.hot-font{
		color:gray;
		font-size:15px;
		text-align:center;
		margin-top:50px;
	}
	.mainbav{
		border:1px dotted #9b83b4;
		width:250px;
		height:180px;
		margin-left:530px;
		margin-top:-180px;
		}
	
	.mainbav-font{
		color:gray;
		font-size:15px;
		text-align:center;
		margin-top:50px;
	}
	.leftsidebar{
		margin-left:30px;
		margin-top:10px;
	}
	
	
	
	
	
	
	
	