	a{text-decoration:none;}
	.nav{
		background-image:url(../images/boy.png);
		width:1100px;
		height:110px;
		margin:0 auto;
		margin-top:100px;
	}
		
	.nav-right{
		font-size:10px;
		padding-left:800px;
		margin-top:-70px;
	}

	.list{
		background-color:white;
		height:35px;
		text-align:center;
		margin-top:-25px;
		}
 
	.list a{text-decoration:none;
		color:#9b83b4;
		font-size:19px;
		}
  
    .list ul{list-style:none;
		padding:10px;
		display:inline-block;
		}
	.list ul li:hover{
		background-color:yellow;
		}
	.list ul li:hover ul{
		display:block;
		background-color:white;
		}
	.list ul li ul{
		display:none;
		position:absolute;
		width:100px;
		border:3px solid white;
		border:none;
		padding:0;
		}
	.list ul li ul li{
		display:block;
		font-size:10px;
		background:rgba(0,0,0,0.1);
		}

	.top-font-nav{
		border:1px solid black;
		width:1000px;
		height:600px;
		border:none;
		margin:0 auto;
		margin-top:0px;
	}
	.nav-bottom img{
		width:1100px;
		height:500px;
		margin:0 auto;
		margin-top:50px;
		transform: rotate(360deg);
	}
	.wrapper-font-nav{
		border:1px solid black;
		width:730px;
		height:230px;
		margin:0 auto;
		border:none;
	}
	.center-font{
		border:1px solid black;
		width:1000px;
		height:500px;
		margin:0 auto;
		margin-top:230px;
		border:none;
	}
	.bottom-font-nav{
		border:1px solid black;
		width:1000px;
		height:500px;
		margin:0 auto;
		margin-top:50px;
		border:none;
	}
	.top-font{
		font-size:30px;
		font-weight:bold;
		text-align:center;
		margin-top:30px;
	}
	.top ul li{
		border-top:1px dotted gray;
		border-bottom:1px dotted gray;
		list-style:none;
		display:inline-block;
		padding-left:20px;
		
	}
	.middle-font{
		text-align:center;
		margin-top:50px;
	}
	
	.header{
		border:1px dotted black;
		width:180px;
		height:200px;
		margin-top:30px;
		margin-left:50px;
	}
	.header-top{
		font-size:30px;
		font-weight:bold;
		text-align:center;
		margin-top:5px;
	}
	.header-left input{
		width:100px;
		margin-top:20px;
	}
	.header-right input{
		width:30px;
	}
	
	.header-right button{
		margin-left:50px;
		margin-top:20px;
	}
	
	.header{
		border:1px dotted black;
		width:180px;
		height:200px;
		margin-top:30px;
		margin-left:50px;
	}
	.header-top{
		font-size:25px;
		font-weight:bold;
		text-align:center;
		margin-top:5px;
	}

	.title{
		border:1px dotted black;
		border:none;
		width:700px;
		height:470px;
		margin-left:300px;
		margin-top:-270px;
	}
	.title ul li{
		list-style:none;
		display:inline-block;
		padding-left:30px;
	}
	
	.title-font{
		font-size:20px;
		font-weight:bold;
		margin-left:320px;
		margin-top:-300px;
	}
	.title-right{
		font-size:20px;
		font-weight:bold;
		margin-left:970px;
		margin-top:-320px;
	}
	

	.nav-title{
		background-image:url(../images/kay1.png);
		width:750px;
		height:45px;
		margin:0 auto;
		margin-top:40px;
		}
	.header-middle{
		border:1px dashed red;
		background:#f9e7e0;
		width:750px;
		height:300px;
		margin:0 auto;
		margin-top:10px;
		}	
		
	.header-middle a:hover{
		display:block;
		width:166px;
		transform:scale(1.1);
		}
	
	.header-middle ul li{	
		display:inline-block;
		list-style:none;
		margin-top:-20px;
		padding-top:5px;
		}
	
		
	.header-text{
		width:165px;
		height:60px;
		margin-top:-35px;
	}
	.header-text img{
		width:165px;
		height:60px;
		margin-left:40px;
		margin-top:10px;
	}	
	.header-img{
		font-size:12px;
		margin-top:-40px;
		margin-left:47px;
	}
	.header-tab{
		font-size:20px;
		margin-top:-20px;
		margin-left:120px;
	}	
	.header-table{
		font-size:12px;
		margin-top:-35px;
		margin-left:120px;
		text-decoration:line-through;
	}	
		
	.header-sidebar{
		width:165px;
		height:60px;
		margin-top:-32px;
		margin-left:10px;
	}
	.header-sidebar img{
		width:165px;
		height:60px;
		margin-left:202px;
		margin-top:5px;
	}	
	.header-hot{
		font-size:12px;
		margin-top:-46px;
		margin-left:220px;
	}
	.header-news{
		font-size:20px;
		margin-top:-20px;
		margin-left:290px;
	}	
	.header-vote{
		font-size:12px;
		margin-top:-35px;
		margin-left:290px;
		text-decoration:line-through;
	}	
		
		
	.header-tips{
		width:165px;
		height:60px;
		margin-top:-35px;
	}
	.header-tips img{
		width:165px;
		height:60px;
		margin-left:381px;
		margin-top:5px;
	}	
	.header-msg{
		font-size:12px;
		margin-top:-45px;
		margin-left:390px;
	}
	.header-guild{
		font-size:20px;
		margin-top:-20px;
		margin-left:470px;
	}	
	.header-list{
		font-size:12px;
		margin-top:-35px;
		margin-left:470px;
		text-decoration:line-through;
	}		
	
	.header-logo{
		width:165px;
		height:60px;
		margin-top:-35px;
		margin-left:-10px;
	}
	.header-logo img{
		width:165px;
		height:60px;
		margin-left:562px;
		margin-top:5px;
	}	
	.header-loginbar{
		font-size:12px;
		margin-top:-45px;
		margin-left:570px;
	}
	.header-download{
		font-size:20px;
		margin-top:-20px;
		margin-left:650px;
	}	
	.header-center{
		font-size:12px;
		margin-top:-35px;
		margin-left:650px;
		text-decoration:line-through;
	}			

	.bottom img{
		margin-top:50px;
		margin-left:450px;
	}
	.bottom-img{
		
		margin-left:390px;
	}
	.bottom-img ul li{
		display:inline-block;
		margin:0 auto;
		padding-left:10px;
		
	}
	
	.bottom-footer{
		border:1px dashed gray;
		background:#f9e7e0;
		width:800px;
		height:200px;
		margin-left:110px;
	}	
	.bottom-font{
		padding-top:20px;
		padding-left:20px;
	}	
	.bottom-tab{
		padding-top:20px;
		padding-left:20px;
	}	
	.bottom-list{
		padding-top:10px;
		padding-left:20px;
		color:black;
	}	
	.bottom-list button{
		background:yellow;
		color:red;
		margin-left:200px;
	}	
		
	.footer{
		border:1px dashed gray;
		background:#f9e7e0;
		width:1000px;
		height:200px;
		
	}	
	.bottom-nav{
		border:1px dashed gray;
		background:orange;
		width:780px;
		height:50px;
		margin-left:110px;
	}
		
	.bottom-nav{
		padding-top:20px;
		padding-left:20px;
		margin-left:110px;
	}		
		
	.bottom-news img{
		margin-top:-48px;
		padding-left:598px;
	}	
	.bottom-news select{	
		width:70px;
		margin-left:713px;
		position:relative;
		top:-31px;
	}
	.footer{
		border:1px dotted gray;
		width:1000px;
		height:220px;
		background:#f9e7e0;
		margin:0 auto;
		margin-top:30px;
	}
	
	.footer-list ul li{
		display:inline-block;
		list-style:none;
		padding-top:30px;
		padding-left:100px;
		font-weight:bold;
	}
	.footer-tab{
		width:120px;
		height:100px;
		background:#f9e7e0;
		margin-left:100px;
	}
	
	.footer-tab ul li{
		padding-top:10px;
		list-style:none;
	}
	
	.footer-nav{
		width:120px;
		height:80px;
		background:#f9e7e0;
		margin-left:260px;
		margin-top:-115px;
	}
	
	.footer-nav ul li{
		padding-top:10px;
		list-style:none;
	}
	
	.footer-title{
		width:120px;
		height:80px;
		background:#f9e7e0;
		margin-left:430px;
		margin-top:-95px;
	}
	
	.footer-title ul li{
		padding-top:10px;
		list-style:none;
	}
	.footer-search{
		width:120px;
		height:80px;
		background:#f9e7e0;
		margin-left:600px;
		margin-top:-95px;
	}
	
	.footer-search ul li{
		padding-top:10px;
		list-style:none;
	}
	.footer-joinus{
		width:120px;
		height:100px;
		background:#f9e7e0;
		margin-left:750px;
		margin-top:-80px;
		
	}
	.footer-joinus img{
		width:110px;
		height:100px;
	}
	.footer-joinus img:hover{
		width:140px;
		height:140px;
	}
	.footer-font{
		font-size:15px;
		margin-left:750px;
		position:absolute;
	}
	.footer-bottom{
		margin-left:50px;
		margin-top:50px;
	}	
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
